In [2]:
import gc
import pandas as pd 
import numpy as np
import glob
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from tqdm import tqdm

In [3]:
train_data=pd.read_csv("../data/BusinessTrack/RAW_training_set.csv")
test_data=pd.read_csv("../data/BusinessTrack/RAW_test_set.csv")
player_data=pd.read_csv("../data/BusinessTrack/RAW_player_data.csv")
game_data=pd.read_csv("../data/BusinessTrack/RAW_game_data.csv")

In [4]:
train_by=pd.read_csv("../data/BusinessTrack/training_with_br_reference v5.csv")

C:\Wesley_Tao\6.Software\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
test_by =pd.read_csv("../data/BusinessTrack/test_set_all_variables v2.csv")

# Feature Extraction

# 0 power rankning

In [6]:
train_power=train_by[['Game_ID','Country','Away_PR','Home_PR','Avg_PR']]
test_power=test_by[['Game_ID','Away_PR','Home_PR','Avg_PR']]

In [7]:
train_data=pd.merge(train_data,train_power,left_on=['Game_ID','Country'],right_on=['Game_ID','Country'])

In [8]:
train_data['Away_PR_2']=np.power(train_data['Away_PR'],2)
train_data['Home_PR_2']=np.power(train_data['Home_PR'],2)
train_data['Avg_PR_2']=np.power(train_data['Avg_PR'],2)

In [9]:
test_data=pd.merge(test_data,test_power,on=['Game_ID'])
test_data['Away_PR_2']=np.power(test_data['Away_PR'],2)
test_data['Home_PR_2']=np.power(test_data['Home_PR'],2)
test_data['Avg_PR_2']=np.power(test_data['Avg_PR'],2)

## 1 All star number
We believe the number of all star players will play a important role in views prediction  
The intuition is if a team has more popular team players, people are more likely to watch that game

In [10]:
all_start_id = player_data['ASG_Team']!='None'
all_star = player_data.loc[all_start_id,['Team','Name']].sort_values(by='Team').reset_index(drop=True)
all_star = all_star.drop_duplicates().reset_index(drop=True)
all_star_number = all_star.groupby("Team").count().reset_index()
all_star_number.columns = ['Team','Count_ASG']
patch = pd.DataFrame()
patch['Team']=list(set(train_data['Away_Team'])-set(all_star_number['Team']))
patch['Count_ASG']=0
all_star_number=pd.concat([all_star_number,patch],axis=0).reset_index(drop=True)

In [11]:
all_star_number.head()

  Team  Count_ASG
0  ATL          1
1  BOS          3
2  CHA          1
3  CHI          1
4  CLE          3

In [12]:
train_data.head()

,Season,Game_ID,Game_Date,Away_Team,Home_Team,Country,Rounded Viewers,Away_PR,Home_PR,Avg_PR,Away_PR_2,Home_PR_2,Avg_PR_2
0,2016-17,21600001,10/25/2016,NYK,CLE,C113,18,21.0,1.0,11.0,441.0,1.0,121.0
1,2016-17,21600001,10/25/2016,NYK,CLE,C193,1,21.0,1.0,11.0,441.0,1.0,121.0
2,2016-17,21600001,10/25/2016,NYK,CLE,C126,4,21.0,1.0,11.0,441.0,1.0,121.0
3,2016-17,21600001,10/25/2016,NYK,CLE,C163,11,21.0,1.0,11.0,441.0,1.0,121.0
4,2016-17,21600001,10/25/2016,NYK,CLE,C73,3,21.0,1.0,11.0,441.0,1.0,121.0

In [14]:
# pd.merge(train_data,all_star_number,how='outer',left_on='Away_Team',right_on='Team')

In [15]:
train_data=pd.merge(train_data,all_star_number,how='outer',left_on='Away_Team',right_on='Team')
train_data=train_data.drop(columns=['Team']).rename(mapper={"Count_ASG":"Away_Count_ASG"},axis='columns')

In [17]:
# train_data.head()

In [18]:
train_data=pd.merge(train_data,all_star_number,how='outer',left_on='Home_Team',right_on='Team')
train_data=train_data.drop(columns=['Team']).rename(mapper={"Count_ASG":"Home_Count_ASG"},axis='columns')

In [19]:
test_data=pd.merge(test_data,all_star_number,how='outer',left_on='Away_Team',right_on='Team')
test_data=test_data.drop(columns=['Team']).rename(mapper={"Count_ASG":"Away_Count_ASG"},axis='columns')
test_data=pd.merge(test_data,all_star_number,how='outer',left_on='Home_Team',right_on='Team')
test_data=test_data.drop(columns=['Team']).rename(mapper={"Count_ASG":"Home_Count_ASG"},axis='columns')

In [21]:
# train_data.head()

## 2.Date
we believe weekday or month will influence the future trend.

In [22]:
train_data['Game_Date']=pd.to_datetime(train_data['Game_Date'])
train_data['day_of_week']=train_data['Game_Date'].dt.weekday_name
train_data['month']=train_data['Game_Date'].dt.month
test_data['Game_Date']=pd.to_datetime(test_data['Game_Date'])
test_data['day_of_week']=test_data['Game_Date'].dt.weekday_name
test_data['month']=test_data['Game_Date'].dt.month
train_data.to_csv("../output/train.csv",index=False)
test_data.to_csv("../output/test.csv",index=False)

In [51]:
train_data=pd.read_csv("../output/train.csv")
test_data=pd.read_csv("../output/test.csv")

In [52]:
train_data.head()

,Season,Game_ID,Game_Date,Away_Team,Home_Team,Country,Rounded Viewers,Away_PR,Home_PR,Avg_PR,Away_PR_2,Home_PR_2,Avg_PR_2,Away_Count_ASG,Home_Count_ASG,day_of_week,month
0,2016-17,21600001,2016-10-25,NYK,CLE,C113,18,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10
1,2016-17,21600001,2016-10-25,NYK,CLE,C193,1,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10
2,2016-17,21600001,2016-10-25,NYK,CLE,C126,4,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10
3,2016-17,21600001,2016-10-25,NYK,CLE,C163,11,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10
4,2016-17,21600001,2016-10-25,NYK,CLE,C73,3,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10

In [64]:
test_data.head()

,Season,Game_ID,Game_Date,Away_Team,Home_Team,Total_Viewers,Away_PR,Home_PR,Avg_PR,Away_PR_2,Home_PR_2,Avg_PR_2,Away_Count_ASG,Home_Count_ASG,day_of_week,month
0,2016-17,21600010,2016-10-26,DEN,NOP,NaN,24.00,26.00,25.000,576.0000,676.0000,625.000000,0,2,Wednesday,10
1,2016-17,21601158,2017-04-04,DEN,NOP,NaN,15.25,21.00,18.125,232.5625,441.0000,328.515625,0,2,Tuesday,4
2,2016-17,21600148,2016-11-14,BOS,NOP,NaN,8.50,27.50,18.000,72.2500,756.2500,324.000000,3,2,Monday,11
3,2016-17,21600539,2017-01-05,ATL,NOP,NaN,15.00,26.00,20.500,225.0000,676.0000,420.250000,1,2,Thursday,1
4,2017-18,21700373,2017-12-08,SAC,NOP,NaN,27.25,15.25,21.250,742.5625,232.5625,451.562500,1,2,Friday,12

## 3.country

In [54]:
print("there are {} countries.".format(len(np.unique(train_data['Country']))))

there are 228 countries.

In [28]:
# view_table=pd.pivot_table(train_data,values='Rounded Viewers',index='Country',aggfunc=np.sum)
# view_table=view_table.sort_values(by=['Rounded Viewers'],ascending=False)
# label=view_table.index[0:30]
# value=view_table.values[0:30]
# index=np.arange(len(label))
# plt.bar(index,value)
# plt.xticks(index,label,rotation=90)
# plt.title("view count by contry")
# plt.show()

In [ ]:
# choose top 50 and put all other into 'others' catogory

In [55]:
top_50_country=view_table.index[0:50]
top_50_idx    =list(map(lambda thiscountry: True if thiscountry in top_50_country else False, train_data['Country']))
not_top_50_idx=[not idx  for idx in top_50_idx]

In [31]:
# print ("top 50 country shape",train_data[top_50_idx].shape)
# print("reset shape ",train_data[not_top_50_idx].shape) reset shape  (180637, 11)
# print("total data shape",train_data.shape) total data shape (280625, 11)

In [114]:
train_data_half_50  = train_data[top_50_idx].copy()
train_data_half_other = train_data[not_top_50_idx].copy()

In [115]:
train_data_half_other.head()

,Season,Game_ID,Game_Date,Away_Team,Home_Team,Country,Rounded Viewers,Away_PR,Home_PR,Avg_PR,Away_PR_2,Home_PR_2,Avg_PR_2,Away_Count_ASG,Home_Count_ASG,day_of_week,month
0,2016-17,21600001,2016-10-25,NYK,CLE,C113,18,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10
1,2016-17,21600001,2016-10-25,NYK,CLE,C193,1,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10
2,2016-17,21600001,2016-10-25,NYK,CLE,C126,4,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10
3,2016-17,21600001,2016-10-25,NYK,CLE,C163,11,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10
4,2016-17,21600001,2016-10-25,NYK,CLE,C73,3,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10

In [116]:
aggregate_df =train_data_half_other.groupby(['Game_ID']).sum()

In [117]:
aggregate_df=aggregate_df[['Rounded Viewers']]
aggregate_df.reset_index(inplace=True)

In [118]:
aggregate_df['Country']='other'
aggregate_df.sort_values(['Game_ID'],inplace=True)

In [121]:
train_data_half_other.head()

,Season,Game_ID,Game_Date,Away_Team,Home_Team,Country,Rounded Viewers,Away_PR,Home_PR,Avg_PR,Away_PR_2,Home_PR_2,Avg_PR_2,Away_Count_ASG,Home_Count_ASG,day_of_week,month
0,2016-17,21600001,2016-10-25,NYK,CLE,C113,18,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10
1,2016-17,21600001,2016-10-25,NYK,CLE,C193,1,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10
2,2016-17,21600001,2016-10-25,NYK,CLE,C126,4,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10
3,2016-17,21600001,2016-10-25,NYK,CLE,C163,11,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10
4,2016-17,21600001,2016-10-25,NYK,CLE,C73,3,21.0,1.0,11.0,441.0,1.0,121.0,2,3,Tuesday,10

In [127]:
train_data_half_other_info=train_data_half_other.drop(columns=['Country','Rounded Viewers']).drop_duplicates()

In [129]:
aggregate_df=aggregate_df.merge(train_data_half_other_info, left_on='Game_ID', right_on='Game_ID', how='outer')

In [131]:
new_train_data=pd.concat([aggregate_df,top_50_train_data],axis=0)

In [134]:
country_list=list(set(new_train_data['Country']))

In [135]:
country_df=pd.DataFrame(country_list,columns=['Country'])
# country_df
country_df['key'] = 0
test_data['key'] = 0
new_test=pd.merge(test_data,country_df,on='key')
del new_test['key']

In [39]:
# new_test.shape[0]==len(country_df)*len(test_data)

In [136]:
test=new_test
train=new_train_data
# del new_test
# del new_train_data

In [138]:
gc.collect()

272

In [137]:
# view_table=pd.pivot_table(train,values='Rounded Viewers',index='Country',aggfunc=np.sum)
# view_table=view_table.sort_values(by=['Rounded Viewers'],ascending=False)
# label=view_table.index
# value=view_table.values
# index=np.arange(len(label))
# plt.bar(index,value)
# plt.xticks(index,label,rotation=90)
# plt.title("view count by contry")
# plt.show()

# Categorical encoder

In [141]:
y_train=train['Rounded Viewers']
y_train_log =np.log1p(y_train)
X_train=train.drop(columns=['Rounded Viewers'])
X_train['month']=X_train['month'].astype('category')
# X_train=pd.get_dummies(X_train,drop_first=True)
del X_train['Game_ID']
del X_train['Game_Date']

In [142]:
X_test=test.drop(columns=['Total_Viewers','Game_ID',"Game_Date"])
X_test['month']=X_test['month'].astype('category')
X_test=X_test.sort_index(axis=1)

In [153]:
cat_col =['Away_Team','Home_Team','Season','day_of_week','month','Country']

In [154]:
for feature in cat_col:
    if feature !="month":
        X_train[feature]=X_train[feature].astype('category')
        X_test[feature]=X_test[feature].astype('category')

# light GBM
LightGBM offers good accuracy with integer-encoded categorical features.   
LightGBM applies Fisher (1958) to find the optimal split over categories as described here. This often performs better than one-hot encoding.  
Use categorical_feature to specify the categorical features. Refer to the parameter categorical_feature in Parameters.  

**Categorical features** must be encoded as non-negative integers (int) less than Int32.MaxValue (2147483647). It is best to use a **contiguous range of integers**.  

Use **min_data_per_group, cat_smooth** to deal with over-fitting (when #data is small or #category is large).  

For a categorical feature with high cardinality (#category is large), it often works best to treat the feature as numeric, either by simply ignoring the categorical interpretation of the integers or by embedding the categories in a low-dimensional numeric space.

In [155]:
# model xgboost
import lightgbm as lgb
from lightgbm import LGBMRegressor
lgb_model=LGBMRegressor()
lgbm_params = {
#     "n_estimators":60,
    "boosting_type":"dart",
#     "application":"conitunous",
    "learning_rate":0.1,
    "min_data_in_leaf":30,
    "num_leaves":10,
#     "min_data_per_group":[10,30,50],
#     "cat_smooth":[0,0.5,1],
    "max_depth":-1,
#     "scale_pos_weight":2,
#     "drop_rate":0.02,
    "metric":"rmse",
    "min_split_gain":0.0,
#     "colsample_bytree":0.0
}
lgb_model.set_params(**lgbm_params) #base model

LGBMRegressor(boosting_type='dart', class_weight=None, colsample_bytree=1.0,
       learning_rate=0.1, max_depth=-1, metric='rmse',
       min_child_samples=20, min_child_weight=0.001, min_data_in_leaf=30,
       min_split_gain=0.0, n_estimators=100, n_jobs=-1, num_leaves=10,
       objective=None, random_state=None, reg_alpha=0.0, reg_lambda=0.0,
       silent=True, subsample=1.0, subsample_for_bin=200000,
       subsample_freq=0)

###  tune n_booster round/n_estimator

In [156]:
lgbm_train = lgb.Dataset(data=X_train,
                          label=y_train_log,
                          categorical_feature=cat_col,
                          free_raw_data=False)

In [151]:
# lgbm_train.categorical_feature

['Away_Team', 'Home_Team', 'Season', 'day_of_week', 'month']

In [164]:
cv_results = lgb.cv(train_set=lgbm_train,
                     params=lgbm_params,
                     nfold=5,
                     num_boost_round=2000,
                     early_stopping_rounds=200,
                     stratified=False,
#                      objective="regression",
                     verbose_eval=50,
                     metrics=['mape'])

C:\Wesley_Tao\6.Software\Anaconda\lib\site-packages\lightgbm\basic.py:1040: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[50]	cv_agg's mape: 0.126444 + 0.000874043
[100]	cv_agg's mape: 0.127149 + 0.000952954
[150]	cv_agg's mape: 0.117061 + 0.00082969
[200]	cv_agg's mape: 0.0987285 + 0.000642851
[250]	cv_agg's mape: 0.093792 + 0.000584621
[300]	cv_agg's mape: 0.0899228 + 0.000683236
[350]	cv_agg's mape: 0.0884328 + 0.000660017
[400]	cv_agg's mape: 0.0846213 + 0.000603192
[450]	cv_agg's mape: 0.0818887 + 0.000860783
[500]	cv_agg's mape: 0.0806027 + 0.000939973
[550]	cv_agg's mape: 0.0792471 + 0.000795665
[600]	cv_agg's mape: 0.0802976 + 0.000726771
[650]	cv_agg's mape: 0.0783156 + 0.000844792
[700]	cv_agg's mape: 0.0773195 + 0.000969397
[750]	cv_agg's mape: 0.0763154 + 0.000870755
[800]	cv_agg's mape: 0.0761427 + 0.000916257
[850]	cv_agg's mape: 0.0747119 + 0.000884874
[900]	cv_agg's mape: 0.0738479 + 0.00078516
[950]	cv_agg's mape: 0.0734981 + 0.000733744
[1000]	cv_agg's mape: 0.0728744 + 0.000692016
[1050]	cv_agg's mape: 0.0717879 + 0.000653562
[1100]	cv_agg's mape: 0.0714758 + 0.000702523
[1150]	cv_agg's mape: 0.0714017 + 0.000625836
[1200]	cv_agg's mape: 0.0710254 + 0.000582267
[1250]	cv_agg's mape: 0.0702582 + 0.000580744
[1300]	cv_agg's mape: 0.0700583 + 0.000515463
[1350]	cv_agg's mape: 0.0695719 + 0.000429652
[1400]	cv_agg's mape: 0.0682446 + 0.000473683
[1450]	cv_agg's mape: 0.0681783 + 0.00043642
[1500]	cv_agg's mape: 0.0679569 + 0.000519007
[1550]	cv_agg's mape: 0.0677085 + 0.000510245
[1600]	cv_agg's mape: 0.0665813 + 0.000557024
[1650]	cv_agg's mape: 0.066629 + 0.000558989
[1700]	cv_agg's mape: 0.0655167 + 0.000617669
[1750]	cv_agg's mape: 0.0650431 + 0.000577692
[1800]	cv_agg's mape: 0.0646549 + 0.000482321
[1850]	cv_agg's mape: 0.0641052 + 0.000526899
[1900]	cv_agg's mape: 0.063685 + 0.000505468
[1950]	cv_agg's mape: 0.0633844 + 0.000437603
[2000]	cv_agg's mape: 0.0630006 + 0.000393294

In [165]:
cv_results.keys()

dict_keys(['mape-mean', 'mape-stdv'])

In [166]:
optimum_boost_rounds = np.argmin(cv_results['mape-mean'])
print('Optimum boost rounds = {}'.format(optimum_boost_rounds))
print('Best LGBM CV result = {}'.format(np.min(cv_results['mape-mean'])))

Optimum boost rounds = 1999
Best LGBM CV result = 0.06300056603411168

In [168]:
# clf = lgb.train(train_set=lgbm_train,
#                  params=lgbm_params,
#                  num_boost_round=optimum_boost_rounds)

# parameter tuning

**max num_leaves**  This is the main parameter to control the complexity of the tree model.   
Theoretically, we can set num_leaves = 2^(max_depth) to obtain the same number of leaves as depth-wise tree.

**min_data_in_leaf** This is a very important parameter to prevent over-fitting in a leaf-wise tree.   
Its optimal value depends on the number of training samples and num_leaves.   
Setting it to a large value can avoid growing too deep a tree, but may cause under-fitting.   
In practice, setting it to hundreds or thousands is enough for a large dataset.

**max_depth. ** You also can use max_depth to limit the tree depth explicitly.

In [169]:
# from sklearn.utils import check_arrays
def mean_absolute_percentage_error(y, y_pred): 
    return np.mean(np.abs((y - y_pred) / y))
import sklearn.metrics
mape=sklearn.metrics.make_scorer(mean_absolute_percentage_error,greater_is_better=True)

In [172]:
lgb_model.set_params(n_estimators=optimum_boost_rounds)

LGBMRegressor(boosting_type='dart', class_weight=None, colsample_bytree=1.0,
       learning_rate=0.1, max_depth=-1, metric='rmse',
       min_child_samples=20, min_child_weight=0.001, min_data_in_leaf=30,
       min_split_gain=0.0, n_estimators=1999, n_jobs=-1, num_leaves=10,
       objective=None, random_state=None, reg_alpha=0.0, reg_lambda=0.0,
       silent=True, subsample=1.0, subsample_for_bin=200000,
       subsample_freq=0)

In [ ]:
from sklearn.model_selection import GridSearchCV
param_test1 = {
     "num_leaves":[10,30,50],
#     "cat_smooth":[0,0.5,1],
#  'min_data_in_leaf':list(range(1,100,20))
}
gsearch1 = GridSearchCV(estimator = lgb_model, 
param_grid = param_test1, scoring='neg_mean_absolute_error',n_jobs=4,iid=False, cv=5,verbose=20)

gsearch1.fit(X_train,y_train_log)

gsearch1.grid_scores_, gsearch1.best_params_, gsearch1.best_score_

Fitting 5 folds for each of 3 candidates, totalling 15 fits

In [ ]:
param_test2 = {
     "num_leaves":list(range(gsearch1.best_params_['num_leaves']-5,gsearch1.best_params_['num_leaves']+5,2)),
#     "cat_smooth":[0,0.5,1],
#  'min_data_in_leaf':list(range(1,100,20))
}
gsearch2 = GridSearchCV(estimator = lgb_model, 
param_grid = param_test2, scoring='neg_mean_absolute_error',n_jobs=4,iid=False, cv=5,verbose=20)

gsearch2.fit(X_train,y_train_log)

gsearch2.grid_scores_, gsearch2.best_params_, gsearch2.best_score_

In [ ]:
lgb_model.set_params(**gsearch2.best_params_)

In [ ]:
param_test3 = {
 'min_data_in_leaf':list(range(1,1000,100))
}
gsearch3 = GridSearchCV(estimator = lgb_model, 
param_grid = param_test3, scoring='neg_mean_squared_error',n_jobs=4,iid=False, cv=5,verbose=10)

gsearch3.fit(X_train,y_train_log)

gsearch3.grid_scores_, gsearch3.best_params_, gsearch3.best_score_

In [ ]:
lower_bound=max(0,gsearch3.best_params_['min_data_in_leaf']-50)

In [ ]:
param_test3 = {
 'min_data_in_leaf':list(range(lower_bound,gsearch3.best_params_['min_data_in_leaf']+50,10))
}
gsearch3 = GridSearchCV(estimator = lgb_model, 
param_grid = param_test3, scoring='neg_mean_squared_error',n_jobs=4,iid=False, cv=5,verbose=10)

gsearch3.fit(X_train,y_train_log)

gsearch3.grid_scores_, gsearch3.best_params_, gsearch3.best_score_

In [ ]:
lgb_model.set_params(**gsearch3.best_params_)

In [ ]:
# lgb_model.set_params(n_estimators=X_train.shape[1])

In [ ]:
lgb_model.fit(X_train,y_train_log)

In [ ]:
def plot_feature(alg,dtrain,top=100):
    feat_imp = pd.Series(alg.feature_importances_,index=dtrain.columns).sort_values(ascending=False)[0:top]
    feat_imp.plot(kind='bar', title='top {} Feature Importances'.format(top))
    plt.ylabel('Feature Importance Score')
    plt.show()

In [ ]:
plot_feature(lgb_model,X_train,top=50)

In [ ]:
lgb_model

In [ ]:
lgb_model=LGBMRegressor(boosting_type='dart', class_weight=None, colsample_bytree=1.0,
       learning_rate=0.1, max_depth=-1, metric='rmse',
       min_child_samples=20, min_child_weight=0.001, min_data_in_leaf=151,
       min_split_gain=0.0, n_estimators=100, n_jobs=-1, num_leaves=7,
       objective=None, random_state=None, reg_alpha=0.0, reg_lambda=0.0,
       silent=True, subsample=1.0, subsample_for_bin=200000,
       subsample_freq=0)

# evaluation
### k-fold cross-validation

In [ ]:
from sklearn.model_selection import KFold
X_train.reset_index(inplace=True,drop=True)
y_train.reset_index(inplace=True,drop=True)

In [ ]:
def mean_absolute_percentage_error(y, y_pred): 
    return np.mean(np.abs((y - y_pred) / y))
import sklearn.metrics
mape=sklearn.metrics.make_scorer(mean_absolute_percentage_error,greater_is_better=True)

In [ ]:
def cv_mape(model,X_train,y_train,fold=5):
    kf = KFold(n_splits=fold,shuffle=True)
    cv_error_list=[]
    for train_index,test_index in tqdm(kf.split(X_train)):
        model.fit(X_train.loc[train_index],np.log1p(y_train.loc[train_index])) # take logarithm
        pred=np.expm1(model.predict(X_train.loc[test_index])) # restore 
        cv_error_list.append(mean_absolute_percentage_error(y=y_train.loc[test_index],y_pred=pred))
        
    return np.array(cv_error_list)

In [ ]:
cv_result=cv_mape(lgb_model,X_train,y_train)

In [ ]:
print("country level score:{} and std{}".format(cv_result.mean(),cv_result.std()))

In [ ]:
# final score
lgb_model.fit(X_train,np.log1p(y_train))
y_insample_pred=np.expm1(lgb_model.predict(X_train))
plt.hist(np.log1p(y_insample_pred),bins=100)
plt.title("insample_prediction_contry_level")
plt.show()

In [ ]:
plt.hist(np.log1p(y_train),bins=100)
plt.title("true distribution country level")
plt.show()

In [ ]:
train['pred_view']=y_insample_pred

In [ ]:
# train.head()

In [ ]:
train_game_2000=train[['Game_ID','Rounded Viewers','pred_view']].groupby('Game_ID').sum()

In [ ]:
mean_absolute_percentage_error(train_game_2000['Rounded Viewers'],train_game_2000['pred_view'])

# submission

In [ ]:
y_pred=np.expm1(lgb_model.predict(X_test))

In [ ]:
plt.hist(y_pred,bins=100)
plt.show()

In [ ]:
# plt.hist(y_train,bins=100)
# plt.show()

In [ ]:
test['Total_Viewers']=y_pred

In [ ]:
test.head()

In [ ]:
# aggregate over country

In [ ]:
submission=test.drop(columns=['month','Country','day_of_week','Away_Count_ASG','Home_Count_ASG'])

In [ ]:
submission=submission.groupby(by=['Season','Game_Date','Game_ID','Away_Team','Home_Team']).sum()

In [ ]:
submission.reset_index(inplace=True)

In [ ]:
submission['Total_Viewers']=submission['Total_Viewers'].round(0)

In [ ]:
submission.head()

In [ ]:
submission.to_csv("/output/submission_7_11.csv",index=False)